body{
    font-family: Calibri;
    @extend .fast-e;
}
//animation
.super-fast-e{
    -webkit-transition: all 0.1s linear 0s;
    -moz-transition: all 0.1s linear 0s;
    -o-transition: all 0.1s linear 0s;
    transition: all 0.1s linear 0s;
}
.fast-e{
	-webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}
.slow-e{
	-webkit-transition: all 0.4s linear 0s;
    -moz-transition: all 0.4s linear 0s;
    -o-transition: all 0.4s linear 0s;
    transition: all 0.4s linear 0s;
}
//Classes específicas
.p-0{
    padding: 0 !important;
}
.m-0 {
    margin: 0 !important;
}

// Flex
.flex-wrap {
    display: flex;

    & > div {
        flex: 1 1 auto;
    }
}

// Classes Genéricas
.msg{
    color: #fff;
    font-weight: bolder;
    padding: 20px 40px;
    margin: 25px auto;
    text-transform: uppercase;
    display: inline-block;
    
    &.success {
        background: rgba(36, 149, 183,0.3);
    }
    &.error{
        background: rgba(198, 37, 37,0.3);
    }
}
.form-control{
    height: 35px;
    border: 0px;
    border-bottom: rgba(0,0,0,0.4) 1px solid;
    border-radius: 0px;
    box-shadow: none;
    padding: 2px 2px 2px 25px;
    
    &:hover,&:active,&:focus{
        box-shadow: 0 4px 10px 0 rgba($main,0.4);
        border-bottom: $main 1px solid;
    }
}
.input-group-form{
    margin-top: 20px;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
}
.input-group {
    input{
        padding: 2px 2px 2px 25px;
        border-bottom : 1px solid $black;
    }
    &__input{
        
    }
    &__messages{
        
    }
}
.form-container{
    margin:  0 auto;
    background: #fff;
    border-radius: 0 0 6px 6px;
    padding: 25px 50px;
}

.list-img-desc{
    
    @extend .flex-wrap;
    
    padding: 35px;
    position: relative;
    
    .list-img{
        img{
            width: 100%;
        }
    }
    .list-desc{
        .title{
            font-weight: bolder;
            font-size: 24px;
            margin-bottom: 15px;
        }
    }
    .btn-more{
        position: absolute;
        bottom: 10px;
        right: 40px;
    }
    &:not(:last-child){
        
        &:after{
            content: "";
            position: absolute;
            width: 90%;
            height: 1px;
            left: 5%;
            bottom: 0px;
            background: $black;
        }
    }
    
    &:hover{
        box-shadow: 0 0 10px 0 rgba($black,0.8);
        &:after{
            height: 0px;
        }
    }
}
.adicionar-item{
    position: absolute;
    top: -5px;
    right: 15px;
}
.container-fluid{
    margin: 10px 5px;
}
.btn{
    border-radius: 0px;
    border: 0px;
    margin-top: 5px; 
    padding: 0px 22px;
    height: 48px;
    font-weight: bolder;
    font-size: 18px;
    position: relative;
    
    
    &.btn-effect{
        
        background-color: $main;
        color: $white;
        
        box-shadow: 0 6px $black;
        border-radius: 6px;
        
        overflow: hidden;
        
        &:after{
            content: "";
            z-index: -1;
            @extend .super-fast-e;
        }
        &:active{
            transform: translateY(4px);
        }
        &._pass-by{
            
            &:after{
                content: "";
                position: absolute;
                background-color: rgba($white,0.4);
                width: 100%;
                height: 100%;
                opacity: 1;
            }
            
            &._left{
                &:after{
                    top: 0;
                    left: -100%;
                }
            }
            
            &._right{
                &:after{
                    top: 0;
                    right: -100%;   
                }
            }
            
            &._top{
                &:after{
                    left: 0;
                    top: -100%;   
                }
            }
            
            &._bottom{
                &:after{
                    left: 0;
                    bottom: -100%;   
                }
            }
            
            &:active {
            
                &:after{
                    opacity: 1;
                    transition: 0;
                }
                
                &._left{
                    &:after{
                        left: 0;
                    }
                }
                &._right{
                    &:after{
                        right: 0;   
                    }
                }
                &._top{
                    &:after{
                        top: 0;   
                    }
                }
                
                &._bottom{
                    &:after{
                        bottom: 0;   
                    }
                }
            }
        }
        
        &._stop-inside{
            
            &:after{
                content: "";
                position: absolute;
                background-color: rgba($white,0.4);
                width: 100%;
                height: 100%;
                opacity: 1;
                
            }
            
            &._left{
                &:after{
                    top: 0;
                    left: -100%;
                }
            }
            
            &._right{
                &:after{
                    top: 0;
                    right: -100%;   
                }
            }
            
            &._top{
                &:after{
                    left: 0;
                    top: -100%;   
                }
            }
            
            &._bottom{
                &:after{
                    left: 0;
                    bottom: -100%;   
                }
            }
            
            &:hover {
                
                transform: translate(0px);
                
                &:after{
                    opacity: 1;
                    transition: 0;
                }
                
                &._left{
                    &:after{
                        left: 0;
                    }
                }
                &._right{
                    &:after{
                        right: 0;   
                    }
                }
                &._top{
                    &:after{
                        top: 0;   
                    }
                }
                
                &._bottom{
                    &:after{
                        bottom: 0;   
                    }
                }
            }
            &:active{
                transform: translateY(4px);
            }
        }
        
    }
}