
//Classes específicas
.p-0{
    padding: 0 !important;
}
.m-0 {
    margin: 0 !important;
}
.none{
  display: none;
}
.max{
    width: 100%;
}

// Flex
.flex-wrap {
    display: flex;
    flex-direction: column;
    
    & > div {
        flex: 1 1 auto;
    }
    @media (min-width: $sm) {
        flex-direction: row;
    }
}
// Classes Genéricas
.msg{
    color: #fff;
    font-weight: bolder;
    padding: 20px 40px;
    margin: 25px auto;
    text-transform: uppercase;
    display: inline-block;
    
    &.success {
        background: rgba(36, 149, 183,0.3);
    }
    &.error{
        background: rgba(198, 37, 37,0.3);
    }
}
.form-control{
    height: 35px;
    border: 0px;
    border-bottom: rgba(0,0,0,0.4) 1px solid;
    border-radius: 0px;
    box-shadow: none;
    padding: 2px 2px 2px 25px;
    
    &:hover,&:active,&:focus{
        box-shadow: 0 4px 10px 0 rgba($main,0.4);
        border-bottom: $main 1px solid;
    }
}
.input-group-form{
    margin-top: 20px;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
}
.input-group {
    input{
        padding: 2px 2px 2px 25px;
        border-bottom : 1px solid $black;
    }
    &__input{
        
    }
    &__messages{
        
    }
}
.form-container{
    margin:  0 auto;
    background: #fff;
    border-radius: 0 0 6px 6px;
    padding: 25px 50px;
}

.list-img-desc{
    
    @extend .flex-wrap;
    
    padding: 35px;
    position: relative;
    
    .list-img{
        img{
            width: 100%;
        }
    }
    .list-desc{
        .title{
            font-weight: bolder;
            font-size: 24px;
            margin-bottom: 15px;
        }
    }
    .btn{
        display: inline-block;
        min-width: 100%;
        padding: 0;
        margin: 0;
        text-align: center;
        border-radius: 0px;
        height: 50% ;
        &:first-child{
            border-radius: 0 6px 0 0 ;
        }
        &:last-child{
            border-radius: 0 0 6px 0;
        }
    }
    .btn-editar{
        background-color: #C9C054;
    }
    &:not(:last-child){
        
        &:after{
            content: "";
            position: absolute;
            width: 90%;
            height: 1px;
            left: 5%;
            bottom: 0px;
            background: $black;
        }
    }
    
    &:hover{
        background-color: lighten($black,55%);
        //box-shadow: 0 0 10px 0 rgba($black,0.8);
        &:before{
            content: "";
            height: 100%;
            width: 5px;
            background-color: $main;
            position:absolute;
            left: -5px;
            top: 0;
        }
        &:after{
            height: 0px;
        }
    }
}
.adicionar-item{
    position: absolute;
    top: -5px;
    right: 15px;
}

.list-table{
    li{
        @extend .flex-wrap;
        
        
        padding: 10px 0;
        position: relative;
        width: 100%;
        & > div{
            margin: auto;
        }
        &:after{
            content: "";
            width: 95%;
            height: 1px;
            background-color: $light-gray;
            display: block;
            position: absolute;
            left: 2.5%;
            bottom: -2px;
        }
        .btn{
            padding: 0;
            margin: 0;
            width: 100%;
            min-width: 100%;
            height: 40px;
        }
    }
}