//animation
.super-fast-e{
    -webkit-transition: all 0.1s linear 0s;
    -moz-transition: all 0.1s linear 0s;
    -o-transition: all 0.1s linear 0s;
    transition: all 0.1s linear 0s;
}
.fast-e{
	-webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}
.slow-e{
	-webkit-transition: all 0.4s linear 0s;
    -moz-transition: all 0.4s linear 0s;
    -o-transition: all 0.4s linear 0s;
    transition: all 0.4s linear 0s;
}

//Classes específicas
.p-0{
    padding: 0 !important;
}
.m-0 {
    margin: 0 !important;
}
.none{
  display: none;
}

// Flex
.flex-wrap {
    display: flex;

    & > div {
        flex: 1 1 auto;
    }
}

// Classes Genéricas
.msg{
    color: #fff;
    font-weight: bolder;
    padding: 20px 40px;
    margin: 25px auto;
    text-transform: uppercase;
    display: inline-block;
    
    &.success {
        background: rgba(36, 149, 183,0.3);
    }
    &.error{
        background: rgba(198, 37, 37,0.3);
    }
}
.form-control{
    height: 35px;
    border: 0px;
    border-bottom: rgba(0,0,0,0.4) 1px solid;
    border-radius: 0px;
    box-shadow: none;
    padding: 2px 2px 2px 25px;
    
    &:hover,&:active,&:focus{
        box-shadow: 0 4px 10px 0 rgba($main,0.4);
        border-bottom: $main 1px solid;
    }
}
.input-group-form{
    margin-top: 20px;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
}
.input-group {
    input{
        padding: 2px 2px 2px 25px;
        border-bottom : 1px solid $black;
    }
    &__input{
        
    }
    &__messages{
        
    }
}
.form-container{
    margin:  0 auto;
    background: #fff;
    border-radius: 0 0 6px 6px;
    padding: 25px 50px;
}

.list-img-desc{
    
    @extend .flex-wrap;
    
    padding: 35px;
    position: relative;
    
    .list-img{
        img{
            width: 100%;
        }
    }
    .list-desc{
        .title{
            font-weight: bolder;
            font-size: 24px;
            margin-bottom: 15px;
        }
    }
    .btn-more{
        position: absolute;
        bottom: 10px;
        right: 40px;
    }
    &:not(:last-child){
        
        &:after{
            content: "";
            position: absolute;
            width: 90%;
            height: 1px;
            left: 5%;
            bottom: 0px;
            background: $black;
        }
    }
    
    &:hover{
        box-shadow: 0 0 10px 0 rgba($black,0.8);
        &:after{
            height: 0px;
        }
    }
}
.adicionar-item{
    position: absolute;
    top: -5px;
    right: 15px;
}

