#app header{
	position: initial ;
	background: $black;
  	padding: 20px 15px;
	color: $white;
	float: none;
	a:link,a:visited{
		color: $white;
		font-size: 20px;
	}
    .modal h2{
        color: $black;
    }
}