header{
	position: initial;
	background: $black;
  	padding: 0;
	color: $white;
	font-size: 22px;
	float: none;
	font-weight: bolder;
	
	.logo{
		background-color: lighten($black, 15%);	
		text-align: center;
	}
	& > div {
		padding: 10px 15px;
	}
	a:link,a:visited{
		color: $white;
		font-size: 20px;
	}
    .modal h2{
        color: $black;
    }
}