header{
	position: initial;
	background: $black;
  	padding: 20px 15px;
	color: $white;
	float: none;
	box-shadow: inset 0px 0px 30px 0px rgba(0,0,0,0.5);
	a:link,a:visited{
		color: $white;
		font-size: 20px;
	}
    .modal h2{
        color: $black;
    }
}