$black : #555;
$white : #fff;
$main : #1b84aa;
$main-alt : #a35e10;

body{
    font-family: Calibri;
}
.p-0{
    padding: 0 !important;
}
h1{
    color: #cecece;
    background: #fff;
    padding: 25px;
    margin: 15px 0 0 0 ;
    
}
.modal{
    display: block !important;
    position: absolute;
    top: 0;
    left: 0;
    
    z-index: 5;
  	.mask{
  		z-index: 6;
  		width: 100%;
	    height: 100%;
	    position: absolute;
	    top: 0;
	    left: 0;
	    background: rgba(0,0,0,0.5);
  	}
    .modal-content{
        position: absolute;
        left: 50%;
        top: 50%;
        background: #fff;
        padding: 25px;
        text-align: center;
        transform: translate(-50%,-50%);
        z-index: 7;
    }
  
}
input{
    margin-top: 20px;
}
.msg{
    color: #fff;
    font-weight: bolder;
    padding: 20px 40px;
    margin: 0 auto;
    text-transform: uppercase;
    
    &.success {
        background: rgba(36, 149, 183,0.3);
    }
    &.error{
        background: rgba(198, 37, 37,0.3);
    }
}
.form-control{
    height: 35px;
    border: rgba(0,0,0,0.4) 1px solid;
    border-radius: 3px;
    width: 200px;
    padding: 2px 2px 2px 25px;
    &:hover,&:active,&:focus{
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
    }
}
.form-container{
    margin:  0 auto;
    background: #fff;
    // width: 250px;
    border-radius: 0 0 6px 6px;
    padding: 25px;
}
.btn{
  margin-top: 25px;
  margin-bottom: 15px;
  height: 35px;
  width: 120px;
  border-radius: 6px;
  font-weight: bolder;
  border: 0px;
  cursor: pointer;
  background: #d1d1d1;
  
}
.btn:hover,.btn:focus{
  background: #fff;
  color: #123123;
  border: 1px solid #123123;
}

// Grid
.col{
    display: inline-block;
    margin-left: -4px;
    margin-bottom: 10px;
    box-sizing: border-box;
    vertical-align: top;
}

@media screen and (max-width: 767px){
    .col-8{
        width: 98%;
    }
    .col-6{
        width: 98%;
    }
    .col-4{
        width: 98%;
    }    
}
@media screen and (min-width: 768px){
    .col-8{
        width: 48%;
    }
    .col-6{
        width: 48%;
    }
    .col-4{
        width: 48%;
    }    
}
@media screen and (min-width: 992px){
    .col-8{
        width: 62%;
    }
    .col-6{
        width: 47.77777%;
    }
    .col-4{
        width: 30%;
        margin: 5px 1.5%;
    }   
    .row .col-6:first-child{
        margin: 0 1% 10px 0;
    }
    .row .col-6:last-child{
        margin: 0 0 10px 1%;
    }
    .row .col-4:nth-child(3n){
        margin: 0 0 10px 1.5%;
    }
    .row .col-4:nth-child(3n+1){
        margin: 0 1.5% 10px 0 ;
    }
    
}
ul{
    margin:0;
    padding:0;
}
li{
    list-style:none;
    margin: 5px 0;
}
//


header{
    position: initial !important;
	background: $black;
  	padding: 20px 15px;
	color: $white;
	a:link,a:visited{
		color: $white;
		font-size: 20px;
	}
    .modal h2{
        color: $black;
    }
}


#navbar{
    
	@media screen and (min-width: 992px) {
		min-height: 580px;
	}
	background: $black;
	input[type="checkbox"]{
		display: none;
	}
	li{

		background: $main;
		color: $white;
	    margin: 0px;
	    
		label{
			width: 100%;
			padding-left: 45px;
			height: 55px;
			line-height: 53px;
			font-weight: bolder;
			position: relative;
		}
        
		a:link,a:visited{
			height: 55px;
			line-height: 53px;
			color: $white;
			font-weight: bolder;
			padding-left: 45px;
			padding-right: 100px;
			width: 100%;
			cursor: pointer;
			position: relative;
		}

		input[type="checkbox"] + label + ul{
			display: none;
		}
		input[type="checkbox"]:checked + label + ul{
			display: block;
		}
				ul{
			padding-top:20px;
			padding-bottom: 20px;
			padding-left: 25px;	
			background-color: darken($main,10%);
			li{
				background-color: darken($main,10%);
			}
			label{
				width: 100%;
				padding-left: 45px;
				height: 25px;
				line-height: 53px;
				font-weight: bolder;
			}

			a,a:link,a:visited{
				height: 25px;
				line-height: 25px;
				color: $white;
				font-weight: bolder;
				padding-left: 45px;
				width: 100%;
				cursor: pointer;
			}
			
		}
	}	
}
footer#rodape{
	background: $main-alt;
	color: $white;
	padding: 10px;
	width: 100%;
	img{
		display:inline-block;
		vertical-align: top;
		opacity: 0.6;
	}
	.text-oab{
		display: inline-block;
	}
	p{
		margin-top: 20px;
	}
}
#content{
	padding: 25px;
	h2{
		margin-top: 25px;
		margin-bottom: 45px;
	}
	table{
		width: 100%;
		tr{
			border: 10px solid $white;
		}
		td{
			&:nth-child(2){
				padding: 15px 15px 15px 45px;
				background: darken($black,25%);
			}
			&:nth-child(1),&:nth-child(3){
				padding: 15px 15px 15px 45px;
				background: lighten($black,15%);
			}
			span.fa{
				display: inline-block;
				margin-left: -4px;
			}
			span.fa-search{
				background-color: lighten($black,25%);
				color: $black;
				padding: 17px;
				font-size: 20px;
			}
			span.fa-close{
				background-color: $main;
				color: $white;
				padding: 17px;
				font-size: 20px;
			}
		}
	}
}