#navbar{
    background: $black;
	
	input[type="checkbox"]{
		display: none;
	}
	
	li{
		position: relative;
		overflow: hidden;
		a,label{	
			@extend .fast-e;
			background-color: $main;
			color: $white;
		    margin: 0px;
			display: block;
			padding-left: 15px;
			line-height: 53px;
			color: $white;
			font-weight: bolder;
			cursor: pointer;
			
			&:hover,&:active,&:focus{
				text-decoration: none;
				background-color: darken($main,15%);
			}
		}

		input[type="checkbox"] + label + ul{
			@extend .fast-e;
			position: absolute;
			margin-left: -100%;
		}
		input[type="checkbox"]:checked + label + ul{
			position: initial;
			margin-left: 0;
			
		}
			ul{
				background-color: $main;
				width: 100%;
			li{
				a,label{
					line-height: 25px;
					color: $white;
					font-weight: bolder;
					padding-left: 45px;
					width: 100%;
					cursor: pointer;
					background-color: $main-alt;
					
					&:hover,&:active,&:focus{
						text-decoration: none;
						background-color: darken($main-alt,15%);
					}
				}
			}

		}
	}	
}